body {
  color: white;
}

h1 {
  font-weight: bold;
  margin-top: 25px;
}

.task-details {
  font-size: 1rem;
  margin-bottom: 25px;
}

/* Form Box */
.proposal-form {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  color: #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.proposal-form label {
  font-weight: 500;
}

.btn-submit {
  background: #1E70E7;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
}

.btn-submit:hover {
  background: #0d5edc;
  color: white;
}

.status-box {
  display: none;
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Error message */
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}